@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}
/*
form {
	position: fixed; 
    top: 10%; 
    right: 20%; 
    transform: translateY(-50%); 
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
}*/

.headerButtons {
	position: fixed; /* Fixed position to keep the button in place */
    top: 8%; /* Adjust as needed */
    right: 20%; /* Adjust the distance from the right edge of the screen */
    transform: translateY(-50%); /* Center the button vertically */
    border: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

button {	
    cursor: pointer;
    background:#777da6;
	color: white;
	border: none;
	padding: 0.1em;
	font-size: 15px;
	font-weight: bold;
}

#visible {	    
    display: inline;
    
	cursor: pointer;
    background:#777da6;
	color: white;
	border: none;
	padding: 0.1em;
}

form {
	display: inline;
}