@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}
/*
form {
	position: fixed; 
    top: 10%; 
    right: 20%; 
    transform: translateY(-50%); 
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
}*/

.headerButtons {
	position: fixed; 
    top: 80px; 
	width: 780px;
	text-align: right;
    transform: translateY(-50%);
    border: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

#signOut {	
    cursor: pointer;
    background:#777da6;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.2em;
	font-size: 15px;
	font-weight: bold;
}

#visible {	    
    display: inline;
    
	cursor: pointer;
    background:#777da6;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.2em;
}

form {
	display: inline;
}