body {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	text-align: center;
}

#centered {
	width: 800px;
	text-align: left;
	border: 0px;
	padding: 0;
	margin: 0 auto;
}

.label {
	color: #594A8C;
	font-weight: bold;
	font-family: "Calibri", Georgia, Serif;
}


#th-id, #tr-id > input {
	width: 30px;
}
#th-dsec, #tr-dsec > input {
	width: 130px;
}

#th-category, #tr-category > input {
	width: 60px;
}

#th-brand, #tr-brand > input, #th-price, #tr-price > input {
	width: 45px;
}

#th-name, #tr-name > input {
	width: 70px;
}

#tr-qty > form > input {
	width: 80px;
	text-align: center;
}

#th-button, #tr-dlt input {
	width: 75px;
}

#tr-qtyAdd > #qty{
	width: 90px;
	text-align: center;
}

.buttonAdd {
	cursor: pointer;
	border-radius: 5px;
	width: 75px;
	box-shadow: none;
}

a:link {
	font-family: arial, monospace;
	text-decoration: none;
	color: teal;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
	text-decoration: none;
}

span.tooltip_message {
	cursor: pointer;
	display: inline-block;
	background-color: #F20B26;
	width: 16px;
	height: 18px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;
}

span.tooltip_message:hover {
	background-color: #04FF97;
}

span.tooltip_img1 {
	cursor: pointer;
	display: inline-block;
	/*width: 16px;
	height: 18px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;*/
}
