<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>html/signIn.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>paramI</param-name>
    <param-value>items</param-value>
  </context-param>
  <context-param>
    <param-name>paramC</param-name>
    <param-value>customers</param-value>
  </context-param>
  <context-param>
    <param-name>paramPO</param-name>
    <param-value>purchaseOrders</param-value>
  </context-param>
  <context-param>
    <param-name>imageURL</param-name>
    <param-value>images</param-value>
  </context-param>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>project</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerController</display-name>
    <servlet-name>customerController</servlet-name>
    <servlet-class>restService.customerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerController</servlet-name>
    <url-pattern>/customerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>itemDetailsServlet</display-name>
    <servlet-name>itemDetailsServlet</servlet-name>
    <servlet-class>itemDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>itemDetailsServlet</servlet-name>
    <url-pattern>/itemDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetItemData</display-name>
    <servlet-name>GetItemData</servlet-name>
    <servlet-class>restService.GetItemData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItemData</servlet-name>
    <url-pattern>/GetItemData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemControllerForAdmin</display-name>
    <servlet-name>ItemControllerForAdmin</servlet-name>
    <servlet-class>restService.ItemControllerForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemControllerForAdmin</servlet-name>
    <url-pattern>/ItemControllerForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseOrderControllerForAdmin</display-name>
    <servlet-name>PurchaseOrderControllerForAdmin</servlet-name>
    <servlet-class>restService.PurchaseOrderControllerForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseOrderControllerForAdmin</servlet-name>
    <url-pattern>/PurchaseOrderControllerForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartControllerForCustomer</display-name>
    <servlet-name>cartControllerForCustomer</servlet-name>
    <servlet-class>restService.cartControllerForCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartControllerForCustomer</servlet-name>
    <url-pattern>/cartControllerForCustomer</url-pattern>
  </servlet-mapping>
</web-app>